.main_header{
	margin-top: 3%;
}
h1 {font-family: 'Open Sans', sans-serif;
font-weight: 400;

}
.main_logo_border {
	width: 155px;
	height: 55px;
	text-align: center;
	border: 3px solid #706b73;
	line-height: 49px;
}
.main_logo_border p {

	font-family: Open Sans; sans-serif;
	font-weight: 700;
	font-size: 37px;
	color: #706b73;
}
.logo_color {
	color: #fa9a87;
}
.main_nav_bar {
	position: relative;
	float: right;
	margin-top: 30px;
	width: 35px;
}

.line{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	display: block;
	width: 35px;
	height: 4px;
	background-color: #706b73;	
	right: 0;
	top: 50%;
	--webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.line:before{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	width: 35px;
	height: 4px;
	background-color: #706b73;	
	right: 0;
	top: 50%;
	content: '';
	--webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	transform: translateY(-8px);
}
.line:after{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	width: 35px;
	height: 4px;
	background-color: #706b73;	
	right: 0;
	top: 50%;
	content: '';
	--webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}