/* @import url("../css/font-awesome.min.css"); */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
.textfam {
  font-family: Caveat, sans-serif;
}
.header {
  background: #ffffff url('../img/headbg.jpg') center center repeat;
  height: 16.7rem;
  font-family: Caveat, sans-serif;
  color: #233f70;
}
.header-rab {
  text-align: right;
  display: block;
  padding: 4.15rem 0rem;
  font-size: 3rem;
}
.header-tel {
  text-align: right;
  font-size: 6rem;
  line-height: 16.7rem;
}
.header-tel a {
  color: #233f70;
  text-decoration: none;
}
.header-tel a:hover {
  text-decoration: none;
  color: #3b6bbe;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header-tel a:focus {
  text-decoration: none;
  color: #3b6bbe;
}
.main {
  margin-bottom: 12rem;
  text-align: center;
  font-family: Caveat, sans-serif;
}
.main img {
  margin-top: -11.5rem;
}
.main-predstav {
  color: #233f70;
  font-size: 4.8rem;
  font-weight: 400;
}
.main-head {
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #cea95b;
  font-size: 3.6rem;
}
.main nav {
  padding-left: 7rem;
}
.main nav a {
  display: block;
  text-align: left;
  font-size: 3rem;
  color: #cea95b;
  text-decoration: none;
}
.main nav a:hover {
  text-decoration: none;
  color: #233f70;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main nav a:focus {
  text-decoration: none;
  color: #233f70;
}
.main-box {
  padding: 0;
}
.main-box-big {
  margin: 1.2rem;
  padding: 0rem;
  width: 17rem;
  height: 17rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.main-box-big img {
  cursor: pointer;
  margin: 0;
  width: 17rem;
  height: 17rem;
  border-radius: 0.5rem;
}
.main-box-big img:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
}
.main-box-small {
  margin: 1.5rem auto;
  padding: 0rem;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.main-box-small img {
  cursor: pointer;
  text-align: center;
  margin: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.main-box-small img:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
}
.main-box-smalls {
  margin: 1.5rem 1rem;
  padding: 0rem;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.main-box-smalls img {
  cursor: pointer;
  margin: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.main-box-smalls img:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
}
.main-opis {
  text-align: left;
}
.main-opis-art {
  text-align: left;
  color: #233f70;
  font-size: 1.8rem;
}
.main-opis-utub {
  padding-right: 8rem;
  text-align: center;
  color: #233f70;
  font-size: 1.8rem;
}
.main-opis-utubznak {
  margin-top: 3rem;
  margin-left: 9rem;
  display: block;
  padding-left: 1.6rem;
  width: 12rem;
  height: 9.3rem;
  font-size: 3.8em;
  background-color: #cea95b;
  color: #233f70;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.main-opis-utubznak:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
}
.main-opis-podr {
  text-align: right;
  color: #cea95b;
  font-size: 1.8rem;
}
.main-opis-podr a {
  text-align: right;
  color: #cea95b;
  font-size: 1.8rem;
  text-decoration: none;
}
.main-opis-podr a:hover {
  text-decoration: none;
  color: #233f70;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main-opis-podr a:focus {
  text-decoration: none;
  color: #233f70;
}
.podrobno {
  margin-bottom: 3rem;
}
.podrobno h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: Caveat, sans-serif;
  color: #cea95b;
  font-style: 3.6rem;
  text-align: center;
}
.podrobno-opisanie {
  padding: 2.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  height: 34.2rem;
}
.podrobno-opisanie-box-big {
  margin: 0rem 1.2rem;
  padding: 0rem;
  width: 26rem;
  height: 26rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.podrobno-opisanie-box-big img {
  cursor: pointer;
  margin: 0;
  width: 26rem;
  height: 26rem;
  border-radius: 0.5rem;
}
.podrobno-opisanie-box-big img:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
}
.podrobno-opisanie-box-small {
  margin: 1.5rem auto;
  padding: 0rem;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.podrobno-opisanie-box-small img {
  cursor: pointer;
  text-align: center;
  margin: 0;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 0.5rem;
}
.podrobno-opisanie-box-small img:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
}
.podrobno-opisanie-box-smalls {
  margin: 1.5rem 2.9rem;
  padding: 0rem;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.podrobno-opisanie-box-smalls img {
  cursor: pointer;
  margin: 0;
  width: 6.7rem;
  height: 6.7rem;
  border-radius: 0.5rem;
}
.podrobno-opisanie-box-smalls img:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.8);
}
.podrobno-opisanie-head {
  font-size: 2.4rem;
  font-family: Caveat, sans-serif;
  color: #233f70;
}
.podrobno-opisanie p {
  font-size: 2rem;
  font-family: Caveat, sans-serif;
  color: #cea95b;
  line-height: 2rem;
}
.podrobno-opisanie-str {
  margin-top: 5rem;
}
.dosopl {
  margin-bottom: 3rem;
}
.dosopl h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: Caveat, sans-serif;
  color: #cea95b;
  font-style: 3.6rem;
  text-align: center;
}
.dosopl-opisanie {
  padding: 2.5rem;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.dosopl-opisanie-head {
  font-size: 2.4rem;
  font-family: Caveat, sans-serif;
  color: #233f70;
}
.dosopl-opisanie .vid {
  text-align: center;
  font-size: 2.4rem;
  font-family: Caveat, sans-serif;
  color: #233f70;
  line-height: 2rem;
}
.dosopl-opisanie p {
  font-size: 2rem;
  font-family: Caveat, sans-serif;
  color: #cea95b;
  line-height: 2rem;
}
.footer {
  background: #ffffff url('../img/headbg.jpg') center center repeat;
  height: 16.7rem;
  font-family: Caveat, sans-serif;
  color: #233f70;
  text-align: right;
}
.footer-rab {
  padding-left: 4rem;
  text-align: left;
  font-size: 1.8rem;
  line-height: 16.7rem;
}
.footer-tel {
  padding-right: 4rem;
  font-size: 3rem;
  line-height: 16.7rem;
}
.footer-tel a {
  color: #233f70;
  text-decoration: none;
}
.footer-tel a:hover {
  text-decoration: none;
  color: #3b6bbe;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.footer-tel a:focus {
  text-decoration: none;
  color: #3b6bbe;
}
.strelka {
  text-align: center;
  display: block;
  position: fixed;
  height: 5rem;
  width: 5rem;
  right: 2.5rem;
  bottom: 5rem;
  color: #233f70;
  background-color: #cea95b;
  padding: 0.3rem;
  font-size: 4rem;
  line-height: 4rem;
  border: none;
  border-radius: 50rem;
  z-index: 99;
}
.strelka a {
  color: #233f70;
}
.strelka:hover {
  -webkit-box-shadow: 0px 0px 24.57px 2.43px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 24.57px 2.43px rgba(0, 0, 0, 0.9);
}
.carousel-control.left {
  background-color: #cea95b;
  background-image: url('');
  opacity: 0.2;
  width: 3rem;
}
.carousel-control.right {
  background-color: #cea95b;
  background-image: url('');
  opacity: 0.2;
  width: 3rem;
}
.modal img {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}
